{% load static %}
<div class="footer bg-dark text-white py-5 mt-auto">
    <div class="container">
        <div class="d-flex flex-row justify-content-between gap-4">
            <div class="title">
                <h5>© 2024 - 2025 ООО «VroomX Auto» - Все права защищены.</h5>
                <p>Обращаем Ваше внимание на то, что вся представленная на сайте информация носит исключительно информационный характер и ни при каких условиях не является публичной офертой определяемой положениями Ст. 437(2)ГК РФ</p>
            </div>
            <div class="partners">
                <p class="text-center">Наши партнеры:</p>
                <div class="d-flex flex-row justify-content-center gap-4">
                    <a href ="https://www.avtogermes.ru/" target="_blank"> <img style="width: 50px; height: 50px" src="{% static 'images/partners/avtogermes.png' %}" alt="avtogermes"/></a>
                    <a href ="https://atlant-salon.ru/" target="_blank"> <img style="width: 50px; height: 50px" src="{% static 'images/partners/atlant.png' %}" alt="atlant"/></a>
                </div>
            </div>
        </div>
    </div>
</div>